@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

html {
  font-family: sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.header {
  height: 80px;
  width: 100%;
}

.header h1 {
  font-family: 'Russo One', sans-serif;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 1px;
  padding: 10px 20px;
  color: #171616;
}

.content-wrapper {
  overflow: hidden;
  height: calc(100vh - 80px);
  display: flex;
}

.sidebar {
  width: 300px;
  height: 100%;
}

.content {
  overflow: overlay;
  height: 100%;
  width: calc(100vw - 300px);
  padding: 5px 30px;
  background-color: #fbfafa;
}

.menu-right {
  float: right;
  padding: 31px 10px;
}

.menu-right a {
  color: #171616;
  font-weight: 600;
  text-decoration: none;
  padding: 15px;
}

.menu-right a:hover {
  transition: 0.4s;
  color: #fbfafa;
}

.bg-interface {
  background-color: #e48522;
}

img.logo {
  width: 55px;
  padding: 0px 0px 0px 20px;
  vertical-align: middle;
}

.ul-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ul-menu a {
  color: #171616;
  font-size: 20px;
  text-decoration: none;
  display: block;
  font-weight: 500;
}

.ul-menu li {
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: 'Russo One', sans-serif;
}

.ul-menu li:hover {
  background-color: #fbfafa;
  transition: 0.4s;
}