html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  background-image: radial-gradient(circle farthest-corner at 10% 20%,  rgba(238,204,39,1) 0%, rgba(252,173,3,1) 44.7%, rgba(252,132,3,1) 90% );
}

.form-login {
  margin: auto;
  padding: 40px 80px;
}

.form-group {
  margin-bottom: 20px !important;
  width: 70%;
  margin: auto;
}

.img-logo {
  width: 25%;
  padding-bottom: 20px;
}

.btn-login {
  background-image: linear-gradient(to right, #d41616 0%, #f92b2b9e 51%, #d41616 100%);
  color: #fff;
  text-transform: uppercase;
  border-radius: 13px;
  width: 100%;
  padding: 15px;
  box-shadow: 0 0 20px #eee;
  opacity: 0.8;
  font-family: 'Titillium Web', sans-serif;
  transition: 0.5s;
}

.btn-login:hover {
  transition: 0.5s;
  opacity: 1;
}

.form-login input {
  border: 1px solid #3333337d;
  border-radius: 13px;
  background-color: #fff0;
  padding: 10px;
  font-family: 'Titillium Web', sans-serif;
}

::placeholder {
  color: #333333;
  opacity: 0.8;
}

.form-login input.has-error {
  border: 2px solid #ff0000cc !important;
}

small {
  font-family: 'Titillium Web', sans-serif;
  color: red;
  font-weight: 600;
  margin-top: 2px;
}